.Indicators {
	padding: 50px 0;
}

.Temperature {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;

	font-size: 86px;
	margin-bottom: 10px;
	> div:first-child {
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 14px;
			height: 14px;
			border: 2px solid #fff;
			border-radius: 50%;
			position: absolute;
			top: 20px;
			right: -20px;
		}
	}
}
.otherIndicator {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 30px;
	> div:first-child {
		font-size: 42px;
		line-height: 0.9;
	}
	> div:last-child {
		font-size: 14px;
	}
}

.RealFeel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	font-size: 22px;
	line-height: 0.9;
	> span {
		color: #9aabb2;
		text-transform: capitalize;
		font-size: 18px;
		line-height: 1;
	}
	> p {
		position: relative;
		&::after {
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			border: 2px solid #fff;
			border-radius: 50%;
			position: absolute;
			top: -5px;
			right: -10px;
		}
	}
}
